%% -*- erlang -*-
%% vim:ts=4 sw=4 et ft=erlang
{cover_enabled, true}.

%% For rebar2 compat
{deps,
 [
  {erlware_commons,  ".*", {git, "git://github.com/erlware/erlware_commons.git", "012bc2f7892305615cdf7d866bb1d7258985e68e"}},
  {erlang_localtime, ".*", {git, "git://github.com/dmitryme/erlang_localtime.git", {branch, master}}}
 ]}.

%% for rebar3
{profiles,
 [{pkg,
   [{deps,
     [
      erlware_commons,
      erlang_localtime
     ]}]}]}.
